.login_label{
	-fx-text-fill: rgba(28.0,121.0,226.0,0.7);
}


.login_button {
	-fx-background-color: rgba(28.0,121.0,226.0,0.7); 
	-fx-text-fill: white;
}


.login_button:hover {
	-fx-background-color: rgba(28.0,121.0,226.0.8); 
	-fx-text-fill: white;
}


